.info-container {
    display: flex;
    align-items: center;
}

.NFT-info {
    display: inline-block;
    margin-left: 14px;
}

.NFT-name {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.NFT-id {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    color: #8C8C8C;
}
