.container {
  margin: 24px auto;
  width: 1000px;
  background: #ffffff;
  padding: 16px;

  .ant-form {
    margin-top: 8px;

    .nameInput {
      width: 400px;
    }

    .countInput {
      width: 240px;
    }
  }
}

.fileLimitSize {
  color: rgba(0, 0, 0, 0.45);
  size: 12px;
  margin-bottom: 0;
}
